 <!-- 단계별로 선택한 값을 헤더 밑에 표시. -->
 <div class="row main-first-page " style="height:100vh">
  <div class="bg-overlay"></div>
  <div class="row nav-header">
    <div class="col-md-2"></div>
    <div class="col-md-8 step-text">
      <h5 class="col-md-3 step active">가격</h5>
      <h5 class="col-md-3 step">음식</h5>
      <h5 class="col-md-3 step">지역</h5>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row nav-header">
    <div class="col-md-2"></div>
    <div class="col-md-8 user-choice">
      <h5 class="col-md-3 step active">{{this.headerValue}}</h5>
      <h5 class="col-md-3 step">{{ this.headerTwoValue }}</h5>
      <!-- <h5 class="col-md-3 step"></h5> -->
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10 stepone-menu">
      <div class="col-md-6">
        <div [routerLink]="[this.location[0]]"
        #hansik class="card col-md-6 hansik" 
        id="0" (click)="check()">
          <i class="glyphicon glyphicon-cutlery"></i>
          <h4>강북구</h4>
        </div>
        <div [routerLink]="[this.location[1]]" 
        #jungsik class="card col-md-6 jungsik" 
        id="1" (click)="check()">
          <i class="glyphicon glyphicon-cutlery"></i>
          <h4>강남구</h4>
        </div>
      </div>
      <div class="col-md-6 price-font">Jinji</div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10 second-menu">
      <div class="col-md-6">
        <div [routerLink]="[this.location[2]]"
        #ilsik class="card col-md-6 ilsik" 
        id="0" (click)="check()">
          <i class="glyphicon glyphicon-cutlery"></i>
          <h4>강서구</h4>
        </div>
        <div [routerLink]="[this.location[3]]" 
        #yangsik class="card col-md-6 yangsik" 
        id="1" (click)="check()">
          <i class="glyphicon glyphicon-cutlery"></i>
          <h4>강동구</h4>
        </div>
      </div>
      <div class="col-md-6 price-font"></div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <!-- 폰트 relative로 화면 센터 -->
    <div class="col-md-3">
    </div>
    <div class="col-md-6 center-title">
      <h2 class="title-text">지역구를 선택하세요</h2>
    </div>
    <div class="col-md-3">
    </div>
  </div>
<!-- <div routerLink="/shop">상세페이지</div> -->
</div> 