@charset "utf-8";
@import url('../../normalize.css');
@import url("../../reset.css");

body{
   background-color: #d8d8d8;
}

.header {
  background: black;
  color:white;
  height: 80px;
}

#menubar {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 20s ease-in-out;
}

#menubar.is-active{
  animation: smallbig 1.2s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#menubar.is-active .menubar:nth-child(1),
#menubar.is-active .menubar:nth-child(2),
#menubar.is-active .menubar:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#menubar.is-active .menubar{
  opacity: 0;
}

#menubar.is-active .menubar:nth-child(1),
#menubar.is-active .menubar:nth-child(3) {
  opacity: 1;
}


#menubar.is-active .menubar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#menubar.is-active .menubar:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg) ;
}

.content-card{
  padding: 15px;
}
.content-photo{
  background-image: url("../../assets/contentphoto.png");
  height: 180px;
}

.content-title{
  background: gray;
  width: 1020px;
  height: 180px;
  margin: 0 auto;
  /* position: absolute; */
  /* position: relative;
  bottom: 75px; */
}

.content-select{
  background: skyblue;
  height: 80px;
}
.content-intro{
  background: orange;
  min-height: 180px;
}
.content-addinfo{
  background: lime;
  height: 480px;

}

.info-menu{
  height: 480px;
  background: pink;
}

.content-map{
  background: red;
  min-height: 400px;
}

.content-social{
  background: pink;
  min-height: 300px;
}
.map{
  position: relative;
  top: 10px;
}
.findload{
  position: relative;
  top: 15px;
}

/* 헤더 검색창 부분 */

.col-xs-4.col-md-4  .main-search {
  color : black;
}

.main-search {
  width: 31vw;
  height: 50px;
  border: 2px solid red;
  border-radius: 80px;
  margin: 15px auto 0 auto;
}

/* 검색 input창 */
.main-search input[type=text] {
  height: 45px;
  line-height: 1.1rem;
  width: 100%;
  border-radius: 60px;
  font-size: 1.1rem;
  text-align: center;
}

.button-search {
  position: relative;
  left : 26vw;
  bottom : 46px;
  height: 48px;
  width : 80px;
  border-radius: 80px;
  border: 2px solid red;
  color : white;
  background-color: red;

}
/* 로그인 아이콘 */
.Oval {
  width: 60px;
  height: 60px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}

.nav-menus {
  float: right;
}
/* > a까지 구체적으로. */
.nav-menus > a {
  display: block;
  float: left; 
  margin: 10px 0;
  width: 150px;
  line-height: 60px; 
  color : white;
  /* background-color: gray; */
  text-align: center;
}

.login-icon {
  height : 60px;
  width: 60px;
  line-height: 60px;
  margin-top: 10px;
  border-radius: 50px;
  background-color: transparent;
}

.login-icon .user .thumb {
  position: relative;
  height : 60px;
  width : 60px;
  right : 8px;
  bottom: 1px;
  margin-right: 10px;
  background-size: cover;
  background-image: url('https://secure.gravatar.com/avatar/ed340a9cb8162dfb315d4b9bbbc2334e?s=36&d=https://app.zeplin.io/img/emotars/emotarMonkeyFace.png' );
  /* background-color: aquamarine; */
  border-radius: 50px;
}

.mypage-image {
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-position-y: -300px;
  background-image:url('../../assets/various-tasty-fresh-ingredients.png'); 
  left: 0;
  top: 0;
  margin : 0 auto;
  width: 100%; 
  height: 500px;
 
}

.mypage-header {
  position: relative;
  bottom : 300px;
  margin: 0 auto;
  color : rgba(251, 251, 251, 0.8);
  text-align: center;
}

.mypage-header h1 {
  font-size: 80px;
  font-weight: bold;
}

.tag-line {
  font-size: 20px;
}

.reservation-info{ 
  background-color: aquamarine;
  margin : 0 auto;
  height: 580px;
}

.reservation-header {
  width: 380px;
  height: 80px;
  background-color: #d8d8d8;
  border: solid 1px #d3d3d3;
}

.reservation-header .reservation-icon {
  position: relative;
  /* display: inline-block; */
  background:url('../../assets/reservation.jpg');
  height: 100%; 
  width: 100px;
  /* z-index: 1; */
}

.reservation-form {
  width: 500px;
}

.reservation-form fieldset {
  margin: 10px 0;
}

.reservation-form input {
  width: 100%;
}

.reservation-location {
  padding : 0 5px 0 5px;
  background-color: white;
}

.reservation-map {
  padding : 5px;
  /* background-image: url(''); */
  width: 400px;
  height: 400px;
}

.map-info {
  height: 400px;
}

/* from now on, login css */

@font-face {
    font-family: 'Hanna';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
    src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'),
         url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
  }
  
  .modal-dialog.modal-con {
    width: 500px;
  }
  
  .name {
    left : 4%;
    top : -40%; 
    position : relative;
    width: 100px;
    font-family: 'Hanna';
    font-size: 2.3rem;
  }
  
  .name2 {
    left : 70%;
    top : -93%;
    margin-left : 1px;
    position : relative;
    width: 50px;
    font-family: 'Hanna';
    font-size: 2rem;
  }
  
  .name2 > p:last-child {
    margin-left: -2px;
  }
  
  /* 모달 최상위 */
  .sign-form-wrapper {
    position: relative;
    margin: 0 auto;
    width: 500px;
    left: 25px;
    /* height: 600px; */
    /* background: rgb(235, 228, 228); */
    /* border: 2px solid rgb(197, 197, 194); */
  }
  
  .title-wrapper {
    position: relative;
    /* display: block; */
    top: 5px;
    left: 33%;
    width: 150px;
    height: 150px;
  }
  
  .logo {
    /* position: absolute; */
    left : 50px;
    width: 150px;
    height: 150px;  
    background : url('../../assets/waiter.png') no-repeat;  
    background-size: cover;
  }
  
  .sign-header {
    position: relative;
    left: -25px;
    /* top : -20px; */
    text-align: center;
    font-size : 20px;
    width: 200px;
  }
  
  .form-group {
    font-weight: 200;
    margin: 0 auto;
    width: auto;
    /* height: 80px; */
  }
  
  .icon-jinji-id::before {
    position: relative;
    top: 70px;
    left: 10px;
    width: 35px;
    height: 50px;
    color: red;
    background: url('../../assets/man.png') no-repeat;
  }
  
  /* .icon-jinji-pw {
    position: relative;
    top: 70px;
    left: 10px;
    width: 35px;
    height: 50px;
    color: red;
    background: url('../../assets/man.png') no-repeat;
  } */
  
  .sign-form-wrapper > .sign-input-list {
    /* position: absolute; */
    /* top: -150px; */
    /* left: 10%; */
    max-width: 380px;
    margin-top: 0px;
    margin-left: 50px;
    /* height: 300px; */
  }
  
  .row-sns {
    width : 400px;
    height: 60px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(197, 197, 194); 
  }
  
  .auth-sns {
    width: 380px;
  
  }
  
  .btn {
    font-weight: 400;
    display: block;
    width: auto;
    margin: 0 auto;
    font-size: 20px;
    background-color: orange;
    border: 0;
  
  }
  
  .col-xs-4 {
    padding-right: 2px;
    padding-left: 2px;
  }
  
  a {
    outline: none !important;
  }
  
  .btn-block { 
    display: block;
    height: 34px;
    padding : 10px 2px 30px 2px;
    border-radius: 2px;
    text-align: center;
    transition : all .5s;
  }
  
  .btn-join {
    position: relative;
    top: 20px;
    margin : 0 auto 10px auto;
    width: 380px;
    height: 34px;
    background-color: orange;
    border: 0;
    font-size: 1.2rem;
    transition : all .5s;
  }
  
  .btn-twitter {
    display: block;
    color: white;
    background-color: #00c7f7 !important;
    border-color: #00c7f7
  }
  
  .btn-facebook {
    display: block;
    color: white;
    background-color: #335397 !important;
    border-color: #335397;
  }
  
  .btn-gmail {
    color: white;
    background-color: #dd4a38 !important;
    border-color: #dd4a38;
  }
  
  input.ng-touched.ng-invalid[_ngcontent-c0] {
    background-color: rgba(238, 105, 105, 0.8)
  }
  
  .cc {
    font-size : 8px;
    text-align: center;
  }
  
  .bottom-wrapper {
    width: 380px;
    margin : 20px auto;
    text-align: center;
  }

  .bottom-wrapper > a {
    outline: none;
  }

  .login-button {
      background: transparent;
      border : 0;
  }

  /* 모달 안에 제목 보더 선으로 구분 */
  .modal-header {
    border: solid 1px #d3d3d3;
  }

  .modal-body {
    width: 600px;
    height: 600px;
  }

  /* 자주가는 지역 */
 .content_wrap {
    width: 100%;
    height: 100%;
    /* background-color: darkolivegreen; */
  }
  
.foodCategory {
  position: relative;
  float: left;
  /* width: 150px; */
  height: 100%;
}

.category1 {
    /* background: lightskyblue; */
    display: inline-block;
    height: 50%;
    width: 100%;
    
    background-image: url('https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?h=350&auto=compress&cs=tinysrgb');
  }

/* 비밀번호 분실 시 링크 */

/* icon들을 absolute로 쓰려는 목적의 래퍼 div */
.forIcon {
  position: relative;
}

.forIcon > .forgot {
  position: absolute;
  display: block;
  top: 25%;
  right:2%;
  /* z-index:10; */
}

.forIcon[_ngcontent-c0] > .forgot.position-fixed {
  position: absolute;
  display: block;
  top: 19%;
  right:2%;
}

.octicon-lock {
  position : absolute;
  top : 25%;
  left : 3%;
}

/* 햄버거 메뉴 & 버튼 wrapper */
.memnubar-container {
  position: absolute;
  width: 40px;
  height: 40px;
}

/* 햄버거 메뉴 */
.menubar-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px 30px 30px; 
  z-index: 3; 
}

/* 햄버거 메뉴 & 버튼 */
.menubar-toggle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;

}

/* 햄버거 메뉴 */
.menubar {
  display: block;
  position: relative;
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 7px;
}

/* 햄버거 클릭 후 나올 메뉴 */
.menubar-items {
  display: none;
}

.toggle-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  padding-top: 5%;
  background-color: rgba(0,0,0, 0.5);
  transform: translateX(-100%);
  transition: all 1.2s;
  z-index: 2;
}

.toggle-menu.is-active {
  transform: translateX(0%);
}

.toggle-menu > li {
  margin: 15px;
}

@media screen and (min-width: 901px) and ( max-width: 1080px) {
  .nav-menus > a {
    width: 100px;
  }
}


@media screen and (min-width: 720px) and ( max-width: 900px ) {

  /* 햄버거 메뉴 */
  .nav-icon {
    display: block;
  }

  .main-search {
    width: 100%;
    height: 50px;
    border: 2px solid red;
    border-radius: 80px;
    margin: 15px auto 0 auto;
  }
  
  /* main-search클래스 안에 인풋을 건드리고 싶으면 셀렉터 경로를 분명히 */
  .main-search input[type=text] {
    height: 45px;
    line-height: 1.1rem;
    width: 100%;
    border-radius: 60px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .button-search {
    position: relative;
    left : 75%;
    bottom : 46px;
    height: 48px;
    width : 80px;
    border-radius: 80px;
    border: 2px solid red;
    color : white;
    background-color: red;
  
  }
  /* 로그인 아이콘 */
  .Oval {
    width: 60px;
    height: 60px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
  }
  
  .nav-menus {
    float: right;
  }
  /* > a까지 구체적으로. */
  .nav-menus > a {
    display: block;
    float: left; 
    margin: 10px 0;
    width: 10vw;
    line-height: 60px; 
    color : white;
    /* background-color: gray; */
    text-align: center;
  }
  
  .login-icon {
    height : 60px;
    width: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: transparent;
  }
  
  .login-icon .user .thumb {
    position: relative;
    height : 60px;
    width : 60px;
    right : 8px;
    bottom: 1px;
    margin-right: 10px;
    background-size: cover;
    background-image: url('https://secure.gravatar.com/avatar/ed340a9cb8162dfb315d4b9bbbc2334e?s=36&d=https://app.zeplin.io/img/emotars/emotarMonkeyFace.png' );
    /* background-color: aquamarine; */
    border-radius: 50px;
  }

} 

@media screen and (min-width: 601px) and ( max-width: 719px ) {
  .main-search {
    width: 200px;
    position: relative;
    left: -15px;
    height: 50px;
    border: 2px solid red;
    border-radius: 80px;
    margin: 15px auto 0 auto;
  }
  

  /* main-search클래스 안에 인풋을 건드리고 싶으면 셀렉터 경로를 분명히 */
  .main-search input[type=text] {
    height: 45px;
    line-height: 1.1rem;
    width: 100%;
    border-radius: 60px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .button-search {
    position: relative;
    left : 80%;
    bottom : 46px;
    height: 48px;
    width : 80px;
    border-radius: 80px;
    border: 2px solid red;
    color : white;
    background-color: red;
  
  }
  /* 로그인 아이콘 */
  .Oval {
    width: 60px;
    height: 60px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
  }
  
  .nav-menus {
    display: none;
    /* float: right; */
  }
  /* > a까지 구체적으로. */
  .nav-menus > a {
    display: block;
    float: left; 
    margin: 10px 0;
    width: 150px;
    line-height: 60px; 
    color : white;
    /* background-color: gray; */
    text-align: center;
  }
  
  .login-icon {
    height : 60px;
    width: 60px;
    line-height: 60px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: transparent;
  }
  
  .login-icon .user .thumb {
    position: relative;
    height : 60px;
    width : 60px;
    right : 8px;
    bottom: 1px;
    margin-right: 10px;
    background-size: cover;
    background-image: url('https://secure.gravatar.com/avatar/ed340a9cb8162dfb315d4b9bbbc2334e?s=36&d=https://app.zeplin.io/img/emotars/emotarMonkeyFace.png' );
    /* background-color: aquamarine; */
    border-radius: 50px;
  }
}

@media screen and (min-width: 320px) and ( max-width: 600px ) {
  .main-search {
    width: 200px;
    position: relative;
    left: -25px;
  }  
  
  .button-search {
    position: relative;
    left: 80%;
  }

  .nav-menus {
    display: none;
    /* float: right; */
  }

}

@media screen and ( max-width: 399px ) {
  .main-search {
    width: 200px;
    margin: 15px auto;
    /* position: relative; */
  }  
  
  .button-search {
    display: none;
  }

  .nav-menus {
    display: none;
    /* float: right; */
  }
}