.row.col-md-12.contentBox-top {
    margin-left: 2px;
    margin-top: 15px;
}

.buttons {
    text-align: right;
}
.star-wrapper {
    position: relative;
    width: 100%;
    text-align: right;
    top : -3rem;
}

.stars-filled {
    position: absolute;
    color: orange;
    z-index:10;
    top: -0rem;
    right:0;
}

.glyphicon.glyphicon-star,
 {
    position: absolute;
    right: 0;
}