.row.col-md-12.contentBox-top {
    margin-left: 2px;
    margin-top: 15px;
}

@font-face{
    font-family:icons;
    src:url();

}


/* 설명 부분 */
.caption {
    position: relative;
}

.buttons {
    text-align: right;
}

.stars {
    position: absolute;
    color: rgba(0,0,0,0);
}

.stars-filled {
    color:orange;
}
.star-wrapper {
    position: relative;
    width: 70px;
    top: -30px;
    left: 83%;
}

.stars-filled {
    position: absolute;
    z-index:10;
    top: -0rem;
    right:0;
    overflow: hidden;
}

.stars .glyphicon-star:before,
.stars-filled .glyphicon-star:before {
    content: "\e006\e006\e006\e006\e006";
}