<h1>ABC식당</h1>
<tabset type="pills">
  <tab heading="예약관리">
    <table class="table table-striped">
      <tr>
        <td>예약일자</td>
        <td>예약자</td>
        <td>인원</td>
        <td>결제금액</td>
        <td> </td>
      </tr>
      <tr>
        <td>2017년 12월 26일</td>
        <td>이우주</td>
        <td>2명</td>
        <td>30000원</td>
        <td><button>취소</button> </td>
      </tr>
    </table>
  </tab>
  <tab heading="오늘의 예약현황">
      <div class="container">
        <div class="row">
          <div class="timeline-centered">
      
            <article class="timeline-entry">
      
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45">
                  <span>07:45 AM</span>
                  <span>2명</span>
                </time>
      
                <div class="timeline-icon bg-success">
                  <i class="entypo-feather"></i>
                </div>
      
                <div class="timeline-label">
                  <p>...........</p>
                </div>
              </div>
      
            </article>
          </div>
        </div>
      </div>
 
  </tab>
</tabset>