<div class="page-header">
  <h1> abc레스토랑
    <small> 관리자페이지 </small>
  </h1>
</div>

<div class="jumbotron">
  <ul>
    <li>주소 : ㅇㅇㅇㅇㅇㅇ <button>수정하기</button></li>
    <li>연락처 : ㅇㅇㅇㅇㅇㅇ<button>수정하기</button></li>
    <li>메뉴판이미지<button>변경하기</button> </li>
    <li>소개사진 : ㅇㅇㅇㅇㅇㅇ
      <button>업로드</button>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
            <button>삭제하기</button>
          </a>
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
            <button>삭제하기</button>
          </a>
        </div>
      </div>
    </li>


  </ul>
</div>


<tabset type="pills">
  <tab heading="예약관리">
    <table class="table table-striped">
      <tr>
        <td>예약일자</td>
        <td>예약자</td>
        <td>인원</td>
        <td>방문시간</td>
        <td>결제금액</td>
        <td>취소요청 및 사유</td>
        <td> </td>
      </tr>
      <tr>
        <td>2017년 12월 26일</td>
        <td>이우주</td>
        <td>2명</td>
        <td>10시</td>
        <td>30000원</td>
        <td></td>
        <td><button>취소</button> </td>
      </tr>
    </table>
  </tab>
  <tab heading="오늘의 예약현황">
      <div class="container">
        <div class="row">
          <div class="timeline-centered">
      
            <article class="timeline-entry">
      
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45">
                  <span>07:45 AM</span>
                  <span>2명</span>
                </time>
      
                <div class="timeline-icon bg-success">
                  <i class="entypo-feather"></i>
                </div>
      
                <div class="timeline-label">
                  <p>...........</p>
                </div>
              </div>
      
            </article>
          </div>
        </div>
      </div>
 
  </tab>
</tabset>