@font-face {
  font-family: 'Hanna';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
  src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'), url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'), url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
}

.modal.in .modal-dialog {
  width: 400px;
}

.modal-content {
  width: 400px;
}

.name {
  left: 4%;
  top: -40%;
  position: relative;
  width: 100px;
  font-family: 'Hanna';
  font-size: 2.3rem;
}

.name2 {
  left: 70%;
  top: -93%;
  margin-left: 1px;
  position: relative;
  width: 50px;
  font-family: 'Hanna';
  font-size: 2rem;
}

.name2>p:last-child {
  margin-left: -2px;
}


/* 모달 최상위 */

.sign-form-wrapper {
  position: relative;
  margin: 0 auto;
  width: 400px;
  left: 25px;
  /* height: 600px; */
  /* background: rgb(235, 228, 228); */
  /* border: 2px solid rgb(197, 197, 194); */
}

.title-wrapper {
  position: relative;
  /* display: block; */
  top: 5px;
  left: 33%;
  width: 150px;
  height: 150px;
}

.logo {
  /* position: absolute; */
  left: 50px;
  width: 150px;
  height: 150px;
  background: url('../../assets/waiter.png') no-repeat;
  background-size: cover;
}

.sign-header {
  position: relative;
  left: -25px;
  /* top : -20px; */
  text-align: center;
  font-size: 20px;
  width: 200px;
}

.form-group {
  font-weight: 200;
  margin: 0 auto;
  width: auto;
  /* height: 80px; */
}

.icon-jinji-id::before {
  position: relative;
  top: 70px;
  left: 10px;
  width: 35px;
  height: 50px;
  color: red;
  background: url('../../assets/man.png') no-repeat;
}


/* .icon-jinji-pw {
  position: relative;
  top: 70px;
  left: 10px;
  width: 35px;
  height: 50px;
  color: red;
  background: url('../../assets/man.png') no-repeat;
} */

  
.sign-form-wrapper > .sign-input-list {
  width: 70%;
  margin: 0 auto;
}

.row-sns {
  width: 400px;
  height: 60px;
  margin-top: 30px;
  border-bottom: 2px solid rgb(197, 197, 194);
}

.auth-sns {
  width: 380px;
}

.btn {
  font-weight: 400;
  display: block;
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  background-color: orange;
  border: 0;
}

.col-xs-4 {
  padding-right: 2px;
  padding-left: 2px;
}

a {
  outline: none !important;
}

.btn-block {
  display: block;
  height: 34px;
  padding: 10px 2px 30px 2px;
  border-radius: 2px;
  text-align: center;
  transition: all .5s;
}

.btn-join {
  position: relative;
  top: 20px;
  margin: 0 auto 10px auto;
  width: 380px;
  height: 34px;
  background-color: orange;
  border: 0;
  font-size: 1.2rem;
  transition: all .5s;
}

.btn-twitter {
  display: block;
  color: white;
  background-color: #00c7f7 !important;
  border-color: #00c7f7
}

.btn-facebook {
  display: block;
  color: white;
  background-color: #335397 !important;
  border-color: #335397;
}

.btn-gmail {
  color: white;
  background-color: #dd4a38 !important;
  border-color: #dd4a38;
}

input.ng-touched.ng-invalid[_ngcontent-c0] {
  background-color: #ff6666;
}

.cc {
  font-size: 8px;
  text-align: center;
}

.bottom-wrapper {
  width: 380px;
  margin: 20px auto;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-content {
    width: 400px !important;
  }
}