<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row main-page">
        <div class="col-md-12 main-first-page">
          <div class="bg-overlay"></div>
          <div class="center text-center">
            <div class="banner">
              <h1 class="">JinJi</h1>
            </div>
            <div class="subtitle">
              <h4>진지한 밥상 소개</h4>
            </div>
          </div>
          <div class="bottom text-center">
              <!-- 스크롤 기능 : pageScroll 디렉티브 -->
            <a>
              <button routerLink='/step' type="button" class="btn btn-default btn-lg btn-reservation">
                  <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> 예약하기
              </button>
            </a>
          </div>
        </div>
    </div>

