@import url('../main.component.css');

/* 첫 화면 */
.main-first-page {
	background-image:url('https://assets.bonappetit.com/photos/577e931f753d41914efc2360/16:9/w_1440/the-dabney-dc-restaurant-kitchen-ASHLEY%20ZINK%20J36A8258-298.jpg');
	-moz-background-size:cover;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	/* filter: grayscale(80); */
}

.bg-overlay {
position:absolute;
height: 100vh;
top:9%;
left:0;
right:0;
bottom:0;
/* background: #333541; */
opacity: 0.4!important;
z-index:0;
}


.row .nav-header {
	width: 100%;
	color: white;
	margin: 20px 0;
}   

.col-md-10.second-menu,
.col-md-10.stepone-menu {
	padding: 2rem 0;
}


.card.hansik,
.card.jungsik,
.card.ilsik,
.card.yangsik {
	border : 2px solid white;
	border-radius: 8%;
	background-color: #fff;
	opacity: 0.9;
	width: 48%;
	height: 200px;
	margin: 0 auto;
} 

.card.hansik,
.card.ilsik  {
	margin-right: 15px;
}

/* 선택 소개창 등장 */
.col-md-6 .second-menu > img:hover {
	display: block;
	height: 80%;
	margin: auto;
	padding: 0 15px;
	background-color: khaki;
  }

.col-md-6 .second-menu >  img {
	display: none;
  }
  

.glyphicon-cutlery {
    font-size: 30px;
	color: black;
}

.card > h4 {
	color: black;
    display: inline-block;
    /* text-align: center; */
    position: absolute;
    top: 52%;
    left: 25%;
}

.select-item {
	width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 9vh;
}