<div class="container-fluid">
  <div class="row">
  <div class="col-md-2"></div>
  <section class="review-container col-md-8">
   <div class="title-filter-wrap">
    <h2 class="title">{{title}}</h2>
    <ul class="review_filter">
     <li class="filter_list">
      <button>전체({{cntAll}})</button>
     </li>
     <li class="filter_list">
       <!-- | counterFilter:this.rate:btn -->
      <button #btn [attr.value]="5">맛있다({{ count4 }})</button>
    </li>
     <li class="filter_list">
      <button [id]="4">괜찮다({{ count3 }})</button>
     </li>
     <li class="filter_list">
      <button [id]="3">보통({{count2 }})</button>
     </li>
     <li class="filter_list">
        <button [id]="2">별로({{ count1 }})</button>
       </li>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="rating-wrapper">
      <div class="col-md-7"></div>
      <div class="star-rating col-md-5" #rating>
        <rating [max]="5" [(ngModel)]="y" [customTemplate]="tt"></rating>
        <!-- <b>(<i>Rate:</i>){{ y }}</b> -->
        <ng-template #tt let-i="index" let-starVal="value">
          <button class="btn btn-color" (click)="checkCount(starVal)">
          {{ i < starVal ? '&#9733;' : '&#9734;'}}  
          </button>
        </ng-template>
      </div>
   </div> 
 </div>
<div class="content-wrapper">
    <div class="content-input">
      <div class="photo">
        <div class="avatar"></div>
        <figcaption>unknown</figcaption>
      </div>
      <div class="comment-block">
        <form #com="ngForm">
          <textarea ngModel #txt="ngModel" name="comment" id="comment" rows="4" minlength="1" maxlength="110" placeholder="Add a comment.." (click)="dd(txt, com)" (keyup.enter)="postComments(txt, txt.value, rate)" required></textarea>
          <!-- <p *ngIf="txt.invalid && txt.touched" placeholder="내용을 입력해주세요"></p> -->
          <button type="button" class="btn btn-primary comment-btn">
          POST
          </button>
      </form>
      </div>
  </div>
  <!-- <div class="upload-wrapper col-md-12"> -->
      <div class="row col-md-6">
      </div>
      <div class="btn-wrapper col-md-6">
          <!-- <image-upload class="btn-upload" url="https://httpbin.org/status/200" [max]="2" [extensions]="['jpeg','png']"></image-upload> -->
      </div>
  <!-- </div> -->
  </div>
    <ul class="list-reviews">
       <li class="default_review" *ngFor="let td of comment">
        <section class="review-item"> 
           <div class="review-content" [class.editMode]="isActivated">
             <figure class="user">
               <div class="thumb">
                 <img src="https://goo.gl/nywpxw" alt="프로필 이미지">
               </div>
               <figcaption>{{ this.profile2 | json }}</figcaption>
               <div class="star_rate" [class.editMode]="isActivated">{{ td.star_rate }}</div>
               <div class="btn-group" [class.editMode]="isActivated" dropdown>
                <button type="button" class="btn btn-danger">별점</button>
                <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <ul [formGroup]="patchedRate" *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" id="1" (click)="getPatchedrate($event)">1(별로)</a></li>
                  <li role="menuitem" ><a class="dropdown-item" id="2" (click)="getPatchedrate($event)">2(별로)</a></li>
                  <li role="menuitem" ><a class="dropdown-item" id="3" (click)="getPatchedrate($event)">3(보통)</a></li>
                  <li role="menuitem" ><a class="dropdown-item" id="4"(click)="getPatchedrate($event)">4(괜찮다)</a></li>
                  <li role="menuitem"><a class="dropdown-item" id="5" (click)="getPatchedrate($event)">5(맛있다)</a></li>
                </ul>
              </div>
             </figure>
             <div class="patch-comment-block">
              <input class="patchInput" #patchInput type="text" multiline="true" value="{{ td.comment }}">
                <label class="test">
                  {{ td.comment }}
                </label>
            </div>
             <div class="icon-wrapper">
              <i class="glyphicon glyphicon-pencil pull-right" [class.editMode]="isActivated" (click)="changeAct(remove)"></i>
              <i class="glyphicon glyphicon-ok" [class.editMode]="isActivated" (click)="patchComm(td.pk, patchInput)"></i>
              <i #remove class="glyphicon glyphicon-remove-sign pull-right" [class.editMode]="isActivated"  (click)="removeComm(td.pk)"></i>
             </div>
           </div>
        </section>
      </li>
    </ul>
  </section>
  <div class="col-md-2"></div>
  <pre>{{ this.patchedRate.controls[1] | json}}</pre>
</div>
</div>