li{
   list-style:none;
}
div{
  color: black!important;
}
.container-fluid{
  height: 100vh;
}
/* 프로필 이미지 업로드 미리보기 */
.avatar {
  width: 30%;
  height: 60px;
  margin: 0.7rem auto;
}

.btns.clearfix {
  width: 100%;
  height: auto;
}

.jumbotron{
  margin: 15px;
  height: auto;
}
.blank {
  height: 30px;
}

.myphoto{
  height: 30px;
  width: 30px;
}
.img-circle{
  height: 80px;
}

.container {
  padding: 0;
}

.contentBox-top{
  margin-top: 20px;
}

.myInfo{
  font-size: 20px;
}

.table-nav{
  background:rgb(223, 213, 213);
}

.btnTable {
  border-style: none;
}

/* 프로필 */
.profile {
  text-align: center; 
}

.form-group { 
  margin-bottom: 0;
}

/* label 안 버튼 */
.btn {
  padding: 5px;
}

input[type=file] {
  width: 100%;
}