<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 blank">

    </div>
  </div>

  <div class="row jumbotron">
    <div class="col-md-2">
      <img src="{{profile_image}}" alt="..." class="img-circle">
    </div>
    <div class="col-md-8">
      <table class="table table-condensed myInfo">
        <tr>
          <td>
            아이디(이메일)
          </td>
          <td>
             {{userInfo.email}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
             이름
          </td>
          <td>
             {{userInfo.name}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            선호도
          </td>
          <td>
          </td>
          <td><button class="btn btn-primary btn-sm">수정하기</button>
          <button class="btn btn-primary btn-sm">회원탈퇴</button></td>
        </tr>
      </table>
    </div>
  </div>

  <tabset>
    <tab heading='예약확인'>
      <table class="table" >
          <tr>
            <td class="info">No</td>
            <td class="info">레스토랑 이름</td>
            <td class="info">예약인원</td>
            <td class="info">예약일자</td>
            <td class="info">예약시간</td>
            <td class="info">주소</td>
            <td class="info">링크</td>
            <td class="info">취소요청</td>
          </tr>
          <tr *ngFor="let item of resList; let i =index">
            <td class="active">{{ i+1 }}</td>
            <td>{{ item.shopName}}</td>
            <td>{{ item.party }}</td>
            <td>{{ item.resDate }}</td>
            <td>{{ item.resTime }}</td>
            <td>{{ item.shopAddress }}</td>
            <td>바로가기</td>
            <td> <button>취소요청</button></td>
          </tr>
      </table>
    </tab>
    <tab>
      <ng-template tabHeading>즐겨찾기</ng-template>
      <div class="row contentBox-top">
        <div class="col-sm-4 col-md-4 contentBox" *ngFor="let item of favoriteList">
          <div class="thumbnail">
            <img src="{{item.thumbnail}}" alt="...">
            <div class="caption">
              <h3> {{ item.name }} </h3>
              <p>...</p>
              <p>
                <a  routerLink="/shop/{{item.pk}}" class="btn btn-default" role="button">바로가기</a>
                <a (click)="removeFavorite(item.pk)" class="btn btn-default" role="button">좋아요취소</a>
              </p>
            </div>
          </div>
        </div>
        </div>
        
      

    </tab>
  </tabset>


  



</div>