<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 blank">

    </div>
  </div>

  <div class="row jumbotron">
    <div class="col-md-2 profile">
      <!-- <img src="{{mypageObj.profile_image}}" alt="..." class="img-circle"> -->
      <div class="container">
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit(fileInput.files)">
              <div class="form-group">
                <img *ngIf="imageSrc" [src]="imageSrc" class="avatar">
                <div class="btns clearfix">
                  <label class="btn btn-file btn-cancel pull-left">Pick an image
                    <input type="file" accept="image/*" (change)="onFileChange(fileInput.files)" #fileInput>
                  </label>
                  <button type="submit" class="btn btn-save pull-right" [disabled]="form.invalid || loading">
                    Save
                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-condensed myInfo">
        <tr>
          <td class="table-nav">
            아이디(이메일)
          </td>
          <td>
             {{mypageObj.user.email }}
          </td>
          <td class="btnTable"></td>
        </tr>
        <tr>
          <td class="table-nav">
             이름
          </td>
          <td>
             {{mypageObj.user.name }}
          </td>
          <td class="btnTable"></td>
        </tr>
          <tr>
            <td class="table-nav">
              닉네임
            </td>
            <td>
              {{ mypageObj.nickname }}
            </td>
            <td class="btnTable">
              <button class="btn btn-primary btn-sm" (click)="openModal(template)">변경하기</button>
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">닉네임 변경</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">닉네임</div>
                        <input type="text" class="form-control" id="exampleInputAmount" 
                        placeholder="닉네임을 입력해주세요" #nickname>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="changeNickname(nickname.value)">변경하기</button>
                  </form>
                </div>
              </ng-template>
            
            </td>
          </tr>
        <tr>
          <td class="table-nav">
            선호도
          </td>
          <td>
            {{mypageObj.prfeeernces}}
          </td>
          <td class="btnTable">
            <button class="btn btn-primary btn-sm">수정하기</button>
          <button class="btn btn-primary btn-sm">회원탈퇴</button>
        </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2"></div>    
  </div>

  <tabset>
    <tab heading='예약확인'>
      <table class="table" >
          <tr>
            <td class="info">No</td>
            <td class="info">레스토랑 이름</td>
            <td class="info">예약인원</td>
            <td class="info">예약일자</td>
            <td class="info">예약시간</td>
            <td class="info">주소</td>
            <td class="info">링크</td>
            <td class="info">취소요청</td>
          </tr>
          <tr *ngFor="let item of resList; let i =index">
            <td class="active">{{ i+1 }}</td>
            <td>{{ item.shopName}}</td>
            <td>{{ item.party }}</td>
            <td>{{ item.resDate }}</td>
            <td>{{ item.resTime }}</td>
            <td>{{ item.shopAddress }}</td>
            <td>바로가기</td>
            <td> <button>취소요청</button></td>
          </tr>
      </table>
    </tab>
    <tab>
      <ng-template tabHeading>즐겨찾기</ng-template>
      <div class="row contentBox-top">
        <div class="col-sm-4 col-md-4 contentBox" *ngFor="let item of favoriteList">
          <div class="thumbnail">
            <img src="{{item.thumbnail}}" alt="...">
            <div class="caption">
              <h3> {{ item.name }} </h3>
              <p>...</p>
              <p>
                <a  routerLink="/shop/{{item.pk}}" class="btn btn-default" role="button">바로가기</a>
                <a (click)="removeFavorite(item.pk)" class="btn btn-default" role="button">좋아요취소</a>
              </p>
            </div>
          </div>
        </div>
        </div>
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    </tab>
  </tabset>


  



</div>