<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 blank">

    </div>
  </div>

  <div class="row jumbotron">
    <div class="col-md-2">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="..." class="img-circle">
    </div>
    <div class="col-md-8">
     <ul>
       <li> ID </li>
      <li> 이메일 </li>
      <li> 선호도 </li>
     </ul>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary btn-lg" href="#" role="button">정보수정</a>
    </div>
  </div>

  <tabset>
    <tab heading='예약확인'>
      <table class="table" >
          <tr>
            <td class="info">No</td>
            <td class="info">레스토랑 이름</td>
            <td class="info">예약인원</td>
            <td class="info">예약일자</td>
            <td class="info">예약시간</td>
            <td class="info">주소</td>
            <td class="info">링크</td>
            <td class="info">취소요청</td>
          </tr>
          <tr *ngFor="let item of resList; let i =index">
            <td class="active">{{ i+1 }}</td>
            <td>{{ item.shopName}}</td>
            <td>{{ item.party }}</td>
            <td>{{ item.resDate }}</td>
            <td>{{ item.resTime }}</td>
            <td>{{ item.shopAddress }}</td>
            <td>바로가기</td>
            <td> <button>취소요청</button></td>
          </tr>
      </table>
    </tab>
    <tab>
      <ng-template tabHeading>즐겨찾기</ng-template>
      <div class="row contentBox-top">
        <div class="col-sm-4 col-md-4 contentBox">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>ABC레스토랑</h3>
              <p>...</p>
              <p>
                <a href="#" class="btn btn-primary" role="button">방문하기</a>
                <a href="#" class="btn btn-default" role="button">좋아요취소</a>
              </p>
            </div>
          </div>
        </div>
          <div class="col-sm-4 col-md-4 contentBox">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>ABC레스토랑</h3>
                <p>...</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">방문하기</a>
                  <a href="#" class="btn btn-default" role="button">좋아요취소</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 contentBox">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>ABC레스토랑</h3>
                <p>...</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">방문하기</a>
                  <a href="#" class="btn btn-default" role="button">좋아요취소</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row contentBox">
          <div class="col-sm-4 col-md-4 contentBox">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>ABC레스토랑</h3>
                <p>...</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">방문하기</a>
                  <a href="#" class="btn btn-default" role="button">좋아요취소</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 contentBox">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>ABC레스토랑</h3>
                <p>...</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">방문하기</a>
                  <a href="#" class="btn btn-default" role="button">좋아요취소</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 contentBox">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>ABC레스토랑</h3>
                <p>...</p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">방문하기</a>
                  <a href="#" class="btn btn-default" role="button">좋아요취소</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        
      
    </tab>
  </tabset>


  



</div>